@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #000;
}
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 40px 50px;
}

nav img {
  width: 110px;
  height: 40px;
}

nav div,
nav div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
}

nav div ul {
  align-items: flex-start;
  width: 80%;
  list-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
}

nav div ul li:hover {
  color: #000;
  font-weight: bold;
}

nav div ul li i {
  margin-left: 5px;
}

/* navbar-bottom */
/* navbar-bottom */
/* navbar-bottom */

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 0 150px;
}

.navbar-bottom-left {
  width: 600px;
  height: 600px;
  background: url("./images/Untitled\ design\ \(35\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -50px -50px;
}
.navbar-bottom-right {
  max-width: 60%;
  padding: 100px 0 0 100px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.navbar-bottom-right h4 {
  color: #c91b28;
  font-size: 20px;
}
.navbar-bottom-right h1 {
  font-size: 3.5rem;
  margin-top: -10px;
}

.navbar-bottom-right p {
  margin: -5px 0 20px 0;
  line-height: 1.5;
}

.navbar-bottom-right button {
  border: none;
  height: 60px;
  width: 200px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin-top: 40px;
  background: #c91b28;
  text-transform: uppercase;
}

/* design-cards */
/* design-cards */
/* design-cards */

.design-cards {
  padding: 50px 240px;
  position: relative;
  top: -40px;
}

.design-cards::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #181818;
  top: 0;
  left: 0;
  z-index: 1;
}

.design-cards-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 10;
}

.design-card,
.design-card-2 {
  margin: 10px;
  padding: 30px 35px;
  max-width: 280px;
  min-width: 280px;
  color: #fff;
  background: #1e1e1e;
  z-index: 10;
}

.design-card i {
  font-size: 45px;
  color: #c91b28;
}

.design-card h1 {
  font-size: 1.5rem;
  margin: 15px 0;
}

.design-card div {
  margin-top: 20px;
  color: #c91b28;
  text-transform: uppercase;
  font-weight: bold;
}
.design-card div i {
  font-size: 15px;
  margin-left: 5px;
}

.design-card:hover {
  background: #c91b28;
}
.design-card:hover i {
  color: #fff;
}

.design-card:hover div {
  color: #fff;
}
.design-card-2 {
  margin-top: 40px;
}
.design-card-2:nth-child(1) {
  background: transparent;
  text-align: center;
}
.design-card-2:nth-child(1) h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  color: #ef4040;
  text-shadow: 5px 0px #ef4040;
}

.design-card-2:nth-child(1) p {
  font-size: 20px;
  margin-top: -20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.design-card-2:nth-child(2),
.design-card-2:nth-child(3) {
  margin-bottom: 20px;
  background: transparent;
  text-align: center;
  padding: 0;
}

.design-card-2-diff,
.design-card-2-diff + div {
  margin-bottom: 20px;
  background: #1e1e1e;
  padding: 20px;
}
.design-card-2-diff + div {
  margin-bottom: 0;
}

.design-card-2-diff h1,
.design-card-2-diff + div h1 {
  color: #ef4040;
}

.design-card-2-diff p,
.design-card-2-diff + div p {
  font-size: 14px;
}

/* .features */
/* .features */
/* .features */

.features {
  margin-top: -40px;
  padding: 50px 240px;
}

.features-top,
.contact-inner {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.features-top p {
  font-size: 15px;
}

.features-top button {
  width: 150px;
  height: 50px;
  background: #c91b28;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
}

.features-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.feature-card {
  margin: 0 0 30px 0;
}
.feature-card:nth-child(1),
.feature-card:nth-child(3) {
  margin-right: 20px;
}

.feature-card div {
  width: 450px;
  height: 380px;
  padding: 60px 20px;
  background: #1e1e1e;
}

.feature-card div img {
  width: 100%;
  height: 100%;
}

.feature-card h1 {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

.feature-card p {
  color: #c91b28;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.feature-card p i {
  font-size: 12px;
}

/* .contact */
/* .contact */
/* .contact */

.contact {
  padding: 50px 240px;
}

.contact-inner {
  background: #1e1e1e;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 30px 80px 30px;
}

.contact-inner div h1 {
  font-size: 2.7rem;
  max-width: 80%;
  line-height: 1.2;
}

.contact-inner div p {
  font-size: 15px;
  max-width: 80%;
  margin-top: 20px;
}

.contact-inner button {
  width: 190px;
  height: 50px;
  background: #c91b28;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
}

/* navbar-2 */
/* navbar-2 */
/* navbar-2 */

.navbar-2,
.navbar-2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar-2 ul {
  color: #fff;
  list-style: none;
  font-size: 13px;
}

.navbar-2 ul li {
  margin-right: 35px;
  text-transform: uppercase;
}

/* footer */
/* footer */
/* footer */

footer,
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 40px 240px;
  background: #1e1e1e;
  margin-top: 40px;
}

footer img {
  width: 110px;
  height: 40px;
}

footer div {
  padding: 0;
  margin: 0;
}

footer div i {
  color: #fff;
  margin-right: 40px;
}
